/*one dashboard widget*/
.widget {
   background-color: rgba(255,255,250,.2);
   min-height: 20em;
   box-shadow: 0 0 10px 1px rgba(20,20,20,.3);
}
/*widget insights*/
.widget .header {
   background-color: rgb(124, 77, 255);
   height: 3em;
   box-shadow: 0 2px 4px rgba(0,0,0,.2)
}
.widget .content {
   padding: 1em 0.5em 0.5em 0.5em;
}
/*graphs fix*/
.widget .content canvas {
   height: 50%;
}
/*text styling*/
.widget h3 {
   overflow: visible;
   font-size: 1.2em;
   font-weight: 300;
   color: rgb(255,255,255);
   line-height: 2.5em;
   padding-left: 0.5em;
}

.widget p {
   padding: 0.5em;
}

.addpost {
   float: right;
   font-size: 35px;
   cursor: pointer;
   margin-right: 8px;
   transition: all ease-in-out 0.2s;
}
.addpost:hover {
   color: #ddd;
}
