/*main styleshit. I think i wont use bootstrap*/
body {
   background-image: linear-gradient(to top, red 20%, green 40%);
   background-repeat: no-repeat;
   width: 90%;
   height: 600px;
   color: white;
   padding-bottom: 20px;
   margin:5px auto;
   font: 1.5em/1 normal Helvetica, Arial, sans-serif;
}
p {
   text-shadow: 4px 4px 5px rgba(0,0,0,.5);
}
