<div class="home-container">
   <div class="widget">
      <div class="header">
         <h3>Нефтепродукты</h3>
      </div>
      <div class="content">
         <form ng-submit="addOilData()">
            <label>Содержание:
               <span class="rangeviz">{{oilContents + "%"}}</span>
            </label>
            <input type="range" class="range" min="0" max="100" ng-model="oilContents">
            <label>Комментарий:</label>
            <input type="text" ng-model="oilComment">
            <button type="submit">Отправить</button>
         </form>
      </div>
   </div>
   <p style="padding-bottom: 20px"></p>
   <div class="widget">
      <div class="header">
         <h3>Органолептические хар-ки</h3>
      </div>
      <div class="content">
         <form ng-submit="addOrganData()">
            <div class="input-group">
               <h4>Запах:</h4>
               <label class="md-radio">
                  <input type="radio" name="smell" ng-model="smell" value="0">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Отсутствует
               </label>

               <label class="md-radio">
                  <input type="radio" name="smell" ng-model="smell" value="1">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Слабый
               </label>

               <label class="md-radio">
                  <input type="radio" name="smell" ng-model="smell" value="2">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Сильный
               </label>
            </div>
            <div class="input-group">
               <h4>Привкус:</h4>
               <label class="md-radio">
                  <input type="radio" name="taste" ng-model="taste" value="0">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Отсутствует
               </label>

               <label class="md-radio">
                  <input type="radio" name="taste" ng-model="taste" value="1">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Слабый
               </label>

               <label class="md-radio">
                  <input type="radio" name="taste" ng-model="taste" value="2">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Сильный
               </label>
            </div>
            <div class="input-group">
               <h4>Цветность:</h4>
               <label class="md-radio">
                  <input type="radio" name="color" ng-model="colour" value="0">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  В норме
               </label>

               <label class="md-radio">
                  <input type="radio" name="color" ng-model="colour" value="1">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Опасно
               </label>

               <label class="md-radio">
                  <input type="radio" name="color" ng-model="colour" value="2">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Критично
               </label>

            </div>
            <div class="input-group">
               <h4>Мутность:</h4>
               <label class="md-radio">
                  <input type="radio" name="mutn" ng-model="opacity" value="0">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Прозрачная
               </label>

               <label class="md-radio">
                  <input type="radio" name="mutn" ng-model="opacity" value="1">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Почти прозрачная
               </label>

               <label class="md-radio">
                  <input type="radio" name="mutn" ng-model="opacity" value="2">
                  <span class="md-radio--fake">
                     <span></span>
                  </span>
                  Мутная
               </label>
            </div>
            <button type="submit" ng-click="">Отправить</button>
         </form>
      </div>
   </div>
</div>
