<div class="home-container">
   <div class="row-2 clearfix">
      <div class="col-1-2 widget">
         <div class="header">
            <h3>Вещество-1</h3>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt aliquam consequatur eius aperiam ullam libero magnam dolore placeat doloribus eligendi culpa blanditiis molestias in, delectus enim inventore animi provident vel?</p>
      </div>
      <div class="col-1-2 widget">
         <div class="header">
            <h3>Вещество-2</h3>
         </div>
         <form>
            <label for="sender">Комментарий</label>
            <input id="sender" type="text">
            <label for="number">Число</label>
            <input id="number" type="number">
            <label for="range">ПДК</label>
            <input id="range" type="range">
            <button type="submit">Отправить</button>
         </form>
      </div>
   </div>
   <div class="row-2 clearfix">
      <div class="col-2-3 widget">
         <div class="header">
            <h3>Органолептические х-ки</h3>
         </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat natus repellendus quae veritatis cumque nesciunt vel maiores repellat minima, deleniti quasi, aperiam sit nostrum itaque labore sunt voluptates a illo.</p>
      </div>
   </div>
</div>
